{% load event_tags %}
<h1>Aktuelle Einladungen</h1>
<div>
    {% if current_invitations %}
        <div class="clearfix">
            {% for invitation in current_invitations %}
                {% if in_profile %}
                    {% event_profile_preview invitation user %}
                {% else %}
                    {% event_small_preview invitation user %}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Keine Einladungen gefunden.</p>
    {% endif %}
</div>