&nbsp <!-- IE6 fix -->
<div id="single_day_box" class="datetime timeframe_select {% if not is_one_day %}disabled{% endif %}" onclick="single_day_click()">
    <b>
        <input id="single_day" type="radio" name="only_on" value="single_day" {% if is_one_day %}checked="true"{% endif %} onchange="radio_box_change()"/>
        NUR am:
    </b>
    <br /> <br />
    Datum: {{only_on_date_widget}}<br />
    Beginn: {{only_on_time_widget}}
</div>
&nbsp <!-- IE6 fix -->
<div id="many_days_box" class="datetime timeframe_select {% if is_one_day %}disabled{% endif %}" onclick="many_day_click()">
    <b>
        <input id="many_days" type="radio" name="only_on" value="many_days" {% if not is_one_day %}checked="true"{% endif %} onchange="radio_box_change()" />
        Von - Bis:  
    </b>
    <br /> <br />
    <b>Von:</b> <br />
    Datum: {{start_date_widget}} <br />Zeit: {{start_time_widget}}
    <br /><br />
    <b>Bis:</b><br />
    Datum: {{end_date_widget}} <br />Zeit: {{end_time_widget}}
</div>                                         

<script type="text/javascript">
    function radio_box_change(){
        if($("#single_day")[0].checked){
            $("#id_timeframe_select_2")[0].value = "";
            $("#id_timeframe_select_2")[0].disabled = true;
            $("#id_timeframe_select_3")[0].value = "";
            $("#id_timeframe_select_3")[0].disabled = true;
            $("#id_timeframe_select_4")[0].value = "";
            $("#id_timeframe_select_4")[0].disabled = true;
            $("#id_timeframe_select_5")[0].value = "";
            $("#id_timeframe_select_5")[0].disabled = true;
            $("#many_days_box").addClass("disabled")
            $("#single_day_box").removeClass("disabled")
        }else{
            $("#id_timeframe_select_0")[0].value = "";
            $("#id_timeframe_select_0")[0].disabled = true;
            $("#id_timeframe_select_1")[0].value = "";
            $("#id_timeframe_select_1")[0].disabled = true;
            $("#single_day_box").addClass("disabled")
            $("#many_days_box").removeClass("disabled")
        }
    }

    function single_day_click(){
        window.setTimeout(function(){
            if($("#single_day")[0].checked){
                fill_date($("#id_timeframe_select_0")[0].value, $("#id_timeframe_select_0")[0].value)
                fill_time($("#id_timeframe_select_1")[0].value, $("#id_timeframe_select_1")[0].value)
            }
        }, 200)
        return true;
    }

    function many_day_click(){
       window.setTimeout(function(){
           if($("#many_days")[0].checked){
               fill_date_start($("#id_timeframe_select_2")[0].value)
               fill_time_start($("#id_timeframe_select_3")[0].value)
               fill_date_end($("#id_timeframe_select_4")[0].value)
               fill_time_end($("#id_timeframe_select_5")[0].value)
           }
       }, 200)
       return true
    }

    $("#id_timeframe_select_0").blur(function(){
        fill_date(this.value, this.value)
    })

    $("#id_timeframe_select_1").blur(function(){
        fill_time(this.value, this.value)
    })

    $("#id_timeframe_select_2").blur(function(){
        fill_date_start(this.value)
    })

    $("#id_timeframe_select_3").blur(function(){
        fill_time_start(this.value)
    })

    $("#id_timeframe_select_4").blur(function(){
        fill_date_end(this.value)
    })

    $("#id_timeframe_select_5").blur(function(){
        fill_time_end(this.value)
    })

    function fill_time_start(value){
         $("#id_invitations_start_1")[0].value = value;
    }

    function fill_date_start(value){
        if(value){
            try{
                 var results = value.split("-");
                 if(results.length==3){
                     var date = new Date(results[0], parseInt(results[1]-1), results[2])
                     var dateOffset = (24*60*60*1000) * 7
                     var result = new Date(date.getTime()-dateOffset)
                     $("#id_invitations_start_0")[0].value = result.getFullYear()+"-"+(result.getMonth()+1)+"-"+result.getDate();

                 }
            }catch(e){
            }
        }
    }

    function fill_time_end(value){
        if(value){
           try{
             var results = value.split(":")
             if (results.length==2){
                 results.push("00")
             }
             if(results.length==3){
                 results[0] = results[0]-1
                 $("#id_invitations_deadline_1")[0].value = results.join(":");
             }
            }catch(e){
            }
        }
    }

    function fill_date_end(value){
        try{
           $("#id_invitations_deadline_0")[0].value = value;
        }catch(e){
        }

    }

    function fill_date(value, value2){
        fill_date_start(value)
        fill_date_end(value2)
    }

    function fill_time(value, value2){
        fill_time_start(value)
        fill_time_end(value2)
    }


</script>